<%- model_class = Poopstation.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sticker_type) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @poopstations.each do |poopstation| %>
    <tr>
      <td><%= link_to poopstation.id, poopstation_path(poopstation) %></td>
      <td><%= poopstation.sticker_type %></td>
      <td><%= poopstation.gender %></td>
      <td><%= poopstation.created_at %></td>
      <% unless poopstation.locations.first.nil?%>
      <% l = poopstation.locations.first%>
      <td><%=l.name %></td>
      <% else %>
      <td></td>
      <% end %>

      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_poopstation_path(poopstation), :class => 'btn btn-mini' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_poopstation_path %>
