<%= render :partial => 'posts/form' %>
<%= link_to "Tell Us About This Stall", edit_poopstation_path(@poopstation), "data-role" => "button", "data-mini" =>"true" %>
<br>
<hr>
<br>
<ul data-role="listview">
    <% if @poopstation.posts.empty? %>
    <li data-icon="false"> Looks like there are no posts. Be the first to leave your mark!</li>
    <% end %>

    <% @poopstation.posts.each do |post|%>
    <li data-icon="false">
        <a>
            <%= post.text %>
        </a>
        <div class = "ui-li-count"><%= post.likes %></div>
        <% if session[post.id] != true %>
        <a  data-ajax="false" href="<%= '/poopstations/' + @poopstation.id.to_s + '/' + post.id.to_s + '/' %>">
        <%= link_to "Like", '/poopstations/' + @poopstation.id.to_s + '/' + post.id.to_s + '/', "data-icon" => "star", :method => "post" , "data-ajax" =>" false"%></a>
        <% end %>
    </li>

    <% end %>
</ul>
<br>


