      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
<%= render :partial => 'posts/form' %>
<%= link_to "Tell Us About This Stall", edit_poopstation_path(@poopstation), "data-role" => "button", "data-mini" =>"true" %>
<br><div class="fb-like" data-href="http://www.stalltalk.info" data-send="true" data-width="250" data-show-faces="false"></div>
<hr>
<br>
<ul data-role="listview">
    <%# if @poopstation.posts.empty? %>
    <!--<li data-icon="false"> Looks like there are no posts. Be the first to leave your mark! (Be aware that we are upgrading to a new system and old posts are being ported to the new system.)</li> -->
    <%# end %>

    <% @poopstation.posts.each do |post|%>
    <%# @posts.each do |post|%>

    <% if session[post.id] != true %>
    <li data-icon="star">
        <%= link_to post.text, '/like/' + @poopstation.id.to_s + '/' + post.id.to_s + '/', "data-icon" => "star", "data-iconpos" => "right" %>
        <div class = "ui-li-count"><%= post.likes %></div>
    </li>
    <% else %>
    <li data-icon="false">
        <a><%= post.text %></a>
        <div class = "ui-li-count"><%= post.likes %></div>
    </li>
    <% end %>
    <% end %>
</ul>
<br>


