<!DOCTYPE html>
<html>
<head>
  <title>StallTalk</title>
  <%= stylesheet_link_tag    "desktop/application", :media => "all" %>
  <%= javascript_include_tag "desktop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
    <% if flash[:error] %>
    <div class="notice alert-error"><%= flash[:error] %></div>
  <% end %>
<%= yield %>

</body>
</html>
