<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="3D9gU8nw-aMuVLUO81fDBaU4HcVHOJ028YLrkgNphhA" />
  <title>StallTalk!</title>
  <%= stylesheet_link_tag    "mobile/application", :media => "all" %>
  <%= javascript_include_tag "mobile/application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0," />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
 <div data-role="page" id="layouts-page">
  <div data-role="header" data-position="fixed">
    <%= render 'layouts/header' %>
  </div>
  <div data-role="content">
   <% if flash[:notice] %>
   <div data-role="navbar">
    <ul>
      <li>
        <a href="" ><%= flash[:notice] %></a>
      </li>
    </ul>
  </div>
  <% end %>
  <% if flash[:error] %>
  <div data-role="navbar">
    <ul>
      <li>
        <a href="" ><%= flash[:error] %></a>
      </li>
    </ul>
  </div>
  <% end %>
  <%= yield %>
</div>
<div data-role="footer" id="layouts-footer" class="ui-bar" data-type="horizontal">
  <% unless request.fullpath == '/posts' %>
  <h1><%= link_to "See All Posts", posts_path, "data-role" => "button", "data-mini" => "true", "style" => "display: block" %></h1>
  <% end %>
  <h1><a href="mailto:mailto:vladamirpoopin@stalltalk.info" data-role="button" data-mini="true" style="display: block">Suggestions?</a></h1>
</div>
</div>

</body>
</html>
