<!DOCTYPE html>
<html>
<head>
  <title>StallTalk</title>
  <meta name="google-site-verification" content="3D9gU8nw-aMuVLUO81fDBaU4HcVHOJ028YLrkgNphhA" />
  <%= stylesheet_link_tag    "desktop/application", :media => "all" %>
  <%= javascript_include_tag "desktop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# If we are generating QR codes, make the page blank%>
  <% if @stickers.nil? %>
  <div class="container">
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
    <br><br><br>
    <div class="alert alert-success alert-block"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
    <br><br><br>
    <div class="alert alert-block alert-error"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
<% else %>
  <%= yield %>
<% end %>
</html>
