<!DOCTYPE html>
<html>
<head>
  <title>StallTalk</title>
  <%= stylesheet_link_tag    "desktop/application", :media => "all" %>
  <%= javascript_include_tag "desktop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
