<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="3D9gU8nw-aMuVLUO81fDBaU4HcVHOJ028YLrkgNphhA" />
  <title>StallTalk!</title>
  <%= stylesheet_link_tag    "mobile/application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
  <%= javascript_include_tag "mobile/application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0," />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
  <% url = request.path%>
  <% if url == "/stalltalkians/sign_in" %>
    <div data-role="page" id="layouts-page" data-url="/>">
  <% else %>
    <div data-role="page" id="layouts-page" data-url="<%= url %>">
  <% end %>
  <div data-role="header" data-position="fixed">
    <%= render 'layouts/header' %>
  </div>
  <div data-role="content">
   <% if flash[:notice] %>
   <div data-role="navbar">
    <ul>
      <li>
        <a href="" ><%= flash[:notice] %></a>
      </li>
    </ul>
  </div>
  <% end %>
  <% if flash[:error] %>
  <div data-role="navbar">
    <ul>
      <li>
        <a href="" ><%= flash[:error] %></a>
      </li>
    </ul>
  </div>
  <% end %>
  <%= yield %>
</div>
<%= render "layouts/footer" %>
</div>

</body>
</html>
